@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 80vh;
  display: block;
  background-color: black;
}

input {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
